<!-- Three -->
<section id="three">
  <h2>Buchungsanfrage</h2>
  <p> Zur Buchungsanfrage rufen Sie uns bitte an oder schicken Sie uns eine eMail oder nutzen unten stehendes Kontaktformular.</p>
  <p>Unser Hof beinhaltet eine kleine Landwirtschaft mit Weidebetrieb. Aus diesem Grund können leider keine Haustiere
    mitgebracht werden. Vielen Dank für Ihr Verständnis.</p>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Preise in €/Tag</th>
        <th>1. Woche für 2 Pers.</th>
        <th>weitere Pers. je Übern.</th>
        <th>Max. Personen</th>
        <th>qm</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>50,--</td>
        <td>auf <a href="#contact-form" title="Kontakt">Anfrage</a></td>
        <td>4</td>
        <td>85</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row" id="contact-form">
    <div class="8u 12u$(small)">
      <div style="display: none;" id="contact-thx">
        <h3 class="icon fa-send"><span class="label"></span> Vielen Dank für Ihre Anfrage!<br>Wir werden uns umgehend bei Ihnen melden.</h3>
      </div>
      <form data-netlify="true" name="turmhofKontakt" method="POST">
        <!--Email sending via CaddyServer with middleware https://github.com/SchumacherFM/mailout-->
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)" title="Ihr Name">
            <input type="text" name="name" id="name"
                   placeholder="{{ .Site.Params.contact.form.name }}" required/>
          </div>
          <div class="6u$ 12u$(xsmall)" title="E-Mail Adresse">
            <input type="email" name="email" id="email"
                   placeholder="{{ .Site.Params.contact.form.email }}" required/>
          </div>
          <div class="12u$" title="Ihre Buchungsanfrage">
            <textarea name="message" id="message" placeholder="{{ .Site.Params.contact.form.message }}"
                      rows="4" required></textarea>
          </div>

          <div class="6u 12u$(xsmall)" title="Zeitraum von">
            <h3 class="icon fa-bed"> Von:</h3>
            <input type="date" name="Zeitraum_von"/>
          </div>
          <div class="6u$ 12u$(xsmall)" title="Zeitraum bis">
            <h3 class="icon fa-bed"> Bis:</h3>
            <input type="date" name="Zeitraum_bis"/>
          </div>

          <p class="hidden">
             <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
           </p>

          <ul class="actions">
            <li><input type="submit" value="{{ .Site.Params.contact.form.submit }}"/></li>
          </ul>
        </div>
      </form>
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        {{ if isset .Site.Params.contact "address" }}
        <li>
          <h3 class="icon fa-home"><span class="label"></span></h3>
          {{ range .Site.Params.contact.address }}
          {{ . }}<br/>
          {{ end}}
        </li>
        {{ end }}
        {{ if isset .Site.Params.contact "phone" }}
        <li>
          <h3 class="icon fa-mobile"><span class="label"></span></h3>
          {{ .Site.Params.contact.phone }}
        </li>
        {{ end }}
        {{ if isset .Site.Params.contact "email" }}
        <li>
          <h3 class="icon fa-envelope-o"><span class="label"></span></h3>
          <a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row">
    <h6>
      Powered by: <a href="https://gohugo.io/" target="_blank" title="external link to">GoHugo</a> | <a
        href="https://caddyserver.com/" target="_blank" title="external link to">CaddyServer</a> | <a
        href="http://html5up.net" target="_blank" title="external link to">html5up.net</a>
    </h6>
  </div>
</section>
